@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #090914;;
}
.containerSecund{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  max-height: 1000px;
  width: 350px;
  max-width: 800px;
  border-radius: 20px;
  padding: 7px;
}
.containerTittleSub{
  flex-direction: column;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 7px;
}
.tittle{
  font-size: 40px;
  color: 	#F8F8FF;
}
.subTittle{
  color: 	#00FA9A;
  font-size: 22px;
}
.containerInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containerNumbMeteor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 200px;
}
.numb{
  font-family: "WDXL Lubrifont SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 130px;
  font-weight: 900;
  color: #00FFFF;
}
.textVistos{
  font-size: 20px;
  color: #F8F8FF;
}
.horaMeteor{
  width: 100%;
  color: #618187;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.containerButtons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}
.button{
  height: 70px;
  width: 40%;
  border-radius: 10px;
  background-color: #00FA9A;
  border-width: 0;
  font-size: 12px;
  font-weight: 800;
  padding: 5px;
} .button:hover{
  opacity: 0.9;
}
.buttonClear{
  height: 70px;
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  font-weight: 800;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .containerSecund{
    width: 85%;
    max-width: 800px;
    justify-content: space-around;
  }
  .containerInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .tittle{
    font-size: 70px;
  }
  .subTittle{
    font-size: 30px;
  }
  .textVistos{
    font-size: 30px;
  }
  .horaMeteor{
    margin-bottom: 50px;
    font-size: 30px;
  }
  .numb{
    font-size: 150px;
  }
  .button{
  font-size: 20px;
  }
  .buttonClear{
    font-size: 20px;
  }
}
